/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Tab Styling */
.tab {
    overflow: hidden;
    background-color: #333;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #555;
}

.tab button.active {
    background-color: #666;
}

/* Tab content */
.tabcontent {
    display: none;
    padding: 20px;
    background-color: #ddd;
    border-top: none;
}

#game-placeholder {
    width: 200px;
    height: 200px;
    border: 2px dashed #555;
    display: inline-block;
    margin-top: 20px;
    line-height: 200px;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
